@use '../../../constants' as vars;

.overlay-root {
  background-color: vars.$background-color;
  padding-bottom: 50px;

  .overlay-title {
    font-size: 16px;
    color: vars.$secondary-theme-color;
  }

  .fullscreen-overlay-body {
    display: block;
    padding-bottom: 64px;
  }

  .ant-form {
    width: 100%;

    .fix {
      display: flex;
      align-items: center;

      .vendor-remove {
        margin-left: 12px;
        color: red;
      }
    }

    .ant-form-item-control-input {
      width: 100%;
    }

    .total > .ant-form-item-label {
      display: block;
    }

    .total input {
      background-color: white;
      color: black;
    }
  }

  .ant-row {
    .ant-card {
      flex: 1 1;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .ant-card {
    @include vars.shadow-element;
  }

  .ant-picker {
    width: 100%;
  }

  .ant-form-item {
    margin-bottom: 15px;
  }

  .overlay-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    border-top: 1px solid lightgray;
    height: 64px;
    padding: 0 20px;
    background-color: white;
    @include vars.shadow-top;
  }

  .dynamic-entry-wrapper {
    .ant-col {
      max-width: 100%;
      width: 100%;
    }
  }

  .index-container {
    background-color: rgb(224, 224, 224);
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .vendor-entry {
    margin: 10px;
  }

  .product-entry, .vendor-entry {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    @include vars.shadow-element-corner;

    .dynamic-entry-section {
      flex: 1 1;
      margin: 15px 10px 0;

      .ant-col {
        width: 50%;
      }
    }

    .dynamic-entry-actions {
      display: flex;
      align-items: center;
      color: red;
      margin-right: 10px;
      justify-content: center;
    }
  }

  .me-2 {
    margin-right: 10px;
  }
}
